@tailwind base;
@tailwind components;
@tailwind utilities;

html.light, html.dark {
    @apply transition-colors duration-200 ease-in-out;
}

html {
    width: 100vw;
    box-sizing: border-box;
    padding-right: calc(100% - 100vw);
    overflow-x: hidden;
}

.navbar-link-text {
    @apply block lg:inline-block hover:font-bold transition-all duration-200 ease-in-out text-sm;
}

.navbar-link-container {
    @apply text-sm lg:flex lg:flex-grow space-x-0 lg:space-x-4 space-y-4 lg:space-y-0;
}

.navbar-gradient {
    @apply bg-gradient-to-r from-brand-blue-darker via-brand-red-darker to-brand-yellow-darker;
}

.markdown-source h1,
.markdown-source h2,
.markdown-source h3,
.markdown-source h4,
.markdown-source h5,
.markdown-source h6 {
    @apply mb-4 font-bold;
}

.markdown-source h1 {
    @apply text-4xl;
}

.markdown-source h2 {
    @apply text-3xl;
}

.markdown-source h3 {
    @apply text-2xl;
}

.markdown-source h4 {
    @apply text-xl;
}

.markdown-source h5 {
    @apply text-lg;
}

.markdown-source h6 {
    @apply text-base;
}

.markdown-source p {
    @apply text-base mb-2;
}

.markdown-source sup,
.markdown-source sub {
    @apply text-xs;
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

.markdown-source blockquote {
    @apply border-l-4 border-gray-400 pl-4;
}

.markdown-source pre {
    @apply bg-gray-100 p-4 rounded-md;
}

.markdown-source pre code {
    @apply text-sm;
}

.markdown-source a {
    @apply text-blue-500 underline;
}

table {
    @apply w-full border-collapse border border-gray-400;
}

table > thead > tr > th {
    @apply bg-gray-100 border border-gray-400 p-2;
}

table > tbody > tr > td {
    @apply border border-gray-400 p-2;
}

.markdown-source img {
    @apply mx-auto;
}

.markdown-source hr {
    @apply border-gray-400 my-4;
}

.markdown-source code {
    @apply bg-gray-100 p-1 rounded-md;
}

.markdown-source code::before {
    @apply content-none;
}

.markdown-source code::after {
    @apply content-none;
}

.normal-link {
    @apply text-blue-500 underline;
}